## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bbin/
bin/
obj/
installer_output/
[Bb]in/
[Oo]bj/
[Log]/

## Visual Studio 2015/2017/2019/2022 cache directory
.vs/

## MSTest Test Results
[Test]Result*/
[Bb]uild[Ll]og.*

## Output of the clean targets
[Tt]emp/

## Directory-based settings
.idea/
.vscode/

## OS-specific files
Thumbs.db
desktop.ini
.DS_Store

#Graphify
graphify-out/

#Website
website/

#Others

client_secret.json
*.ps1
*.pfx
*.iss
.env