## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bbin/
bin/
obj/
installer_output/
[Bb]in/
[Oo]bj/
[Log]/

.vs/

## MSTest Test Results
[Test]Result*/
[Bb]uild[Ll]og.*

[Tt]emp/

.idea/
.vscode/

Thumbs.db
desktop.ini
.DS_Store


#Others

*.ps1
*.pfx
*.iss
